html, body {
  height: 100%;
}

body {
  margin: auto;
  width: 100%;
}

#iframe {
  z-index: -1;
  position: absolute;
}

#circle-container {
  position: fixed;
  z-index: 1;
}

#circle-container svg {
  height: 3000px;
  width: 3000px;
}
