html, body {
  height: 100%;
}

body {
  margin: auto;
  width: 100%;
}

#iframe {
  width: 100%;
  margin: auto;
  z-index: -1;
  position: absolute;
}

#intro {
  max-width: 500px;
  margin: auto;
}

h2 {
  text-align: center;
}

#voice-input {
  background-color: bisque;
  z-index: 0;
  position: fixed;
}

#circle-container {
  position: fixed;
  z-index: 1;
}

#circle-svg {
  height: 3000px;
  width: 3000px;
}
